.btn{
    color: #FFF;
    width: 5rem;
    height: 1.7rem;
    margin: 0 0.2rem;
    border: none;
}
.btn:focus{
    outline: none;
}
.btn-success {
    background-color: #28a745;
}
.btn-danger {
    background-color: #dc3545;
}
.btn-primary {
    background-color: #007bff;
}
  
